.border-top-theme-color-3px {
    border-top: 3px solid #6ab43e !important;
}

.menuzord a {
    transition: color 0.3s linear, background 0.3s linear;
}

.menuzord-menu > li {
    padding: 12px 0;
    margin-right: 0.5rem;
}

.menuzord .menuzord-menu > li.active > a,
.menuzord .menuzord-menu > li:hover > a,
.menuzord .menuzord-menu ul.dropdown li:hover > a {
    background: #6ab43e;
    color: #fff !important;
}

.menuzord-menu > li > a {
    font-size: 13px;
    color: #333333;
    padding: 8px 16px;
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    outline: 0;
}
